<h2 mat-dialog-title>{{ todo._id ? 'Edit' : 'Create' }} TODO</h2>

<mat-dialog-content>
  <form (ngSubmit)="onSave()">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="todo.title" name="title" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="todo.description" name="description"></textarea>
    </mat-form-field>

    <mat-checkbox *ngIf="todo._id" [(ngModel)]="todo.done" name="done">Mark as done</mat-checkbox>
  </form>
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button type="submit" [mat-dialog-close]="todo" [disabled]="!todo.title">Save</button>
  </mat-dialog-actions>
</mat-dialog-content>

