<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title class="todo-title">
      {{ todo.title | truncate:45 }}
      <mat-slide-toggle class="done-toggle" [checked]="todo.done" (change)="onToggle()"></mat-slide-toggle>
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="onEdit()">Edit</button>
        <button mat-menu-item (click)="onDelete()">Delete</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div>{{ todo.description | truncate:135 }}</div>
  </mat-card-content>
  <mat-card-footer class="todo-card-footer">
    <span class="secondary-text">{{ todo.createdAt | date:'dd/MM/yyyy' }}</span>
  </mat-card-footer>
</mat-card>

